# Auto detect text files and perform LF normalization
* text=auto eol=lf

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.yaml text
*.yml text
*.json text

# Force shell scripts to ues LF
*.sh text eol=lf

# Windows batch scripts use CRLF
*.bat text eol=crlf
*.ps1 text eol=crlf
